.container {
  padding: 120px;
  text-align: center;
  margin-top: 100px;
}

.title {
  color: white;
  font-size: 26px; /* Tăng cỡ chữ tiêu đề */
  font-weight: bold;
  margin-bottom: 25px;
}

.buttonGroup {
  background-color: transparent !important; /* Làm trong suốt nền */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-size: 40px; /* Tăng kích thước chữ */
 
}

.buttonGroup a {
  width: auto; 
  min-width: 300px; 
}

